$small-screen: 600px;
$medium-screen: 840px;
$large-screen: 1024px;

.carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 100%;
  max-width: 100%;
  gap: 0;
  box-sizing: border-box;

  .carousel__img {
    height: 100%;
    width: auto;
    object-fit: contain;
    max-width: 100%;
    min-width: 400px;
    cursor: pointer;
    border-radius: 10px;
  }

  .carousel__btn {
    background: rgba(21, 14, 14, 0.8); /* Semi-transparent background */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
    flex-shrink: 0;
    height: auto;
    width: auto;
    &--desktop {
      display: inline-block;
    }

    &--mobile {
      display: none;
    }
  }
  .carousel__mobile-btn-container {
    display: none;
  }

  @media (max-width: $medium-screen) {
    flex-direction: column;
    gap: 10px;

    .carousel__btn {
      padding: 10px;
      &--desktop {
        display: none;
      }

      &--mobile {
        display: inline-block;
      }
    }
    .carousel__mobile-btn-container {
      display: flex;
      justify-content: center;
      gap: 10px;
      width: 100%;
      z-index: 1;
    }
  }
}
